.container
{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-content {
  margin-top: 5px;
}

mat-card
{
  border-radius: 10px;
  min-width: 100px;
  width:500px;
  margin-top:20px;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 50px;
}

mat-expansion-panel
{
  border-radius: 10px;
}

mat-accordion {
  height: 120px;
}

.flex-item
{
  display: flex;
  justify-content: center;
  width: 100%;
}

.add-pr-button
{
  color: green;
}

.upload-button {
  border-radius: 10px;
  border: solid 3px;
}

.card {
  padding-bottom: 20px;
  background-color: transparent;

}

.pr-list-container {
  width: 100%;
}

.pr-list {
  margin-top: 10px;
  margin-bottom: 5px;
}

mat-list-item {
  background: white;
}
.fab {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 999;
  transition: 200ms;

}

@media only screen and (max-width: 600px) {
  .fab {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999;
    transition: 200ms;

  }
}

.fab:hover {
  transform: rotate(50deg);
  width: 70px;
  height: 70px;
}

.fab > mat-icon {
  width: 50px;
  height: 50px
}

.u-bar {
  height: 2px;
  background: #00bbff;
}

.btn {
  box-sizing: border-box;
  -webkit-box-shadow: 5px 11px 70px -12px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 11px 70px -12px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 11px 70px -12px rgba(0, 0, 0, 0.59);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  text-align: center !important;
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 5px;
  padding: 1em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.second {
  border-radius: 3em;
  color: #fff;
  background: #007fff;
  background-size: 100%;
  transition: 300ms ease-in-out;
}

.second:hover {
  background: #4ea5ef;
  -webkit-box-shadow: 7px 3px 63px 2px rgb(134, 164, 247);
  -moz-box-shadow: 7px 3px 63px 2px rgba(160, 139, 247, 1);
  box-shadow: 7px 3px 63px 2px rgb(136, 175, 247);
}

img {
  display: block;
  width: 480px;

}
