
<div class="wrapper">
  <div class="sidebar" data-color="orange">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">

          <div>

            <div *ngIf="showPage" class="container">


              <div class="flex-item">


                <div class="pr-list-container">
                  <h4 align="center">Presentations</h4>
                  <hr>

                  <!--<p>Add or click existing presentations</p>-->
                  <!--<button class="add-pr-button" mat-stroked-button mat-icon-button (click)="addPresentation()">-->
                  <!--<mat-icon aria-label="Add presentation" class="add-icon">add</mat-icon>-->
                  <!--</button>-->


                  <div *ngFor="let p of presentationList" class="pr-list">

                    <mat-accordion>
                      <mat-expansion-panel>
                        <mat-expansion-panel-header collapsedHeight="100px">
                              <mat-panel-title>
                                {{p.name}}
                              </mat-panel-title>
                              <mat-panel-description>
                                Created on, Mark bias Sheduled
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                        <mat-action-row>
                          <button mat-button>Save</button>
                          <button mat-button [routerLink]="['./presentation',p.id]">Open</button>
                        </mat-action-row>


                            <mat-form-field>
                              <input matInput placeholder="Mark bias percentage" value="50%">
                            </mat-form-field>

                            <mat-form-field>
                              <input matInput placeholder="Scheduled on">
                            </mat-form-field>

                            <button mat-icon-button [matMenuTriggerFor]="menu">
                              <mat-icon>more_vert</mat-icon>
                            </button>

                            <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                <mat-icon>pencil</mat-icon>
                                <span>Edit</span>
                              </button>
                              <button mat-menu-item (click)="deletePresentation(p.id)">
                                <mat-icon>bin</mat-icon>
                                <span>Delete</span>
                              </button>
                            </mat-menu>

                          </mat-expansion-panel>
                        </mat-accordion>

                      </div>


                </div>

              </div>

              <div class="flex-item">

                <div class="pr-list-container">
                  <h4 align="center">Manage students</h4>
                  <hr>

                  <div fxLayoutAlign.lt-sm="center">
                    <button align="center" mat-button mat-stroked-button class="upload-button"
                            (click)="clickAddFiles(file)">
                      Upload csv file
                    </button>
                    <p>{{fileName}}</p>
                  </div>
                  <div fxLayoutAlign.lt-sm="center">
                  <button align="center" mat-button mat-stroked-button class="upload-button"
                          [routerLink]="['./students']">View
                    Students
                  </button>
                  </div>
                </div>


              </div>

              <div class="flex-item">

                <div class="pr-list-container">
                  <h4 align="center">Evaluation results</h4>
                  <hr>

                  <button align="center" mat-button mat-stroked-button class="upload-button"
                          [routerLink]="['/marks',id_original]">View
                  </button>
                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <button mat-fab color="warn" class="fab" matTooltip="Create new presentation" (click)="addPresentation()">New
    </button>
    <button mat-fab color="primary" class="fab-2" matTooltip="Create new form" (click)="openCreateForm()">Form
    </button>

    <input type="file" style="display: none" #file (change)="onFilesAdded()" accept=".csv,text/csv"/>
    <app-footer></app-footer>
  </div>
</div>


