.container
{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-card
{
  border-radius: 10px;
  min-width: 100px;
  width:500px;
  margin-top:20px;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 50px;
  background-color: rgba(80, 206, 255, 0.15);
}

mat-expansion-panel
{
  border-radius: 10px;
}

.flex-item
{
  display: flex;
  justify-content: center;
}

.add-pr-buttun
{
  color: green;
}
