.container
{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-card
{
  border-radius: 10px;
  min-width: 100px;
  width:500px;
  margin-top:20px;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 50px;
}

mat-expansion-panel
{
  border-radius: 10px;
}

.flex-item
{
  display: flex;
  justify-content: center;
}

.add-pr-button
{
  color: green;
}

.upload-button {
  border-radius: 10px;
  border: solid 3px;
}

.card {
  padding-bottom: 20px;
  background-color: transparent;

}

.tr-card {
  color: white;
  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f80759, #bc4e9c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #e10753, #914076); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
