.section-main {
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

.sec-title {
  font-size: large;
}

.sec-subTitle {
  font-size: medium;
}

.button-space {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

.delete {
  float: right;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.delete:hover {
  opacity: 1;

}

.delete-icon {
  color: red;

}

mat-card {
  border-radius: 10px;
}




