<h1 class="text-center">
  Project Management System
</h1>
<div class="card offset-md-3">
      <div class="card-header headerCS text-center">
        Sign Up
      </div>
      <div class="card-body">
          <form action="" method="post">
              <input type="text" name="" id="" placeholder="Enter First Name" class="form-control">
              <input type="text" name="" id="" placeholder="Enter Last Name" class="form-control">

              <input type="text" name="" id="" placeholder="Enter Email" class="form-control">

              <input type="password" name="" id="" placeholder="Enter Password" class="form-control">
              <input type="password" name="" id="" placeholder="Retype Password" class="form-control">
              <input type="submit" value="Sign Up" class="btn btn-default float-right">   
          </form>
      </div>
    </div>