<div class="container">
  <mat-card [class.mat-elevation-z0]="isHandest$" >

    <mat-card-title fxLayoutAlign="center">Signup-Project Evaluation System</mat-card-title>

    <form [formGroup]="signupFormGroup" fxLayoutAlign="center" class="example-form" (ngSubmit)="postData(signupFormGroup)">
      <table class="example-full-width" cellspacing="0">

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First name" formControlName="fName" name="fName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last name" formControlName="lName" name="lName" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="email" formControlName="email" name="username" required>

            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input [formGroup]="signupFormGroup" matInput placeholder="Password" formControlName="password" type="password" name="password" required>
            <mat-error *ngIf="signupFormGroup.controls.password.errors?.minLength">Password must be minimum 8 characters</mat-error>
          </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input [formGroup]="signupFormGroup" matInput placeholder="Confirm password" formControlName="passwordc" type="password" name="passwordc" required>
            <mat-error *ngIf="signupFormGroup.controls.passwordc.errors?.MatchPassword">Password not match</mat-error>

          </mat-form-field></td>
        </tr>

        <tr fxLayoutAlign="center">
          <td>
            <button  mat-raised-button type="submit" [disabled]="signupFormGroup.invalid" color="primary">Signup</button>

          </td>
        </tr>
      </table>



    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>



    <span></span>
    <div class="login-bottom" fxLayoutAlign="center">
      <p fxLayoutAlign="right"> <a routerLink="/login">Login</a></p>
    </div>


  </mat-card>


</div>
