table {
  width: 100%;
}

.table-container {
  border-radius: 8px;
}

// For table's disabled input.
.mat-input-element:disabled {
  color: rgba(0, 0, 0, 1);
}

// For table's disabled mat-select.
/deep/ .mat-select-disabled .mat-select-value-text {
  color: rgba(0, 0, 0, 1) !important;
}

/deep/ .mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
  display: none;
}

.main-content {
  margin-top: 10px;
}

