<mat-nav-list>
  <div *ngFor="let item of formList">
  <mat-list-item >
    <span class="form-name" (click)="viewForm(item.id)">
      {{item.data}}
    </span>


    <button mat-icon-button color="primary" class="f-button" (click)="shareForm(item.id)">
      <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="editForm(item.id)">
      <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
    </button>
  </mat-list-item>
  </div>

</mat-nav-list>

<div fxLayoutAlign="center">
  <mat-spinner [diameter]="50" [strokeWidth]="5" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</div>

<!--<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="shareForm()">
    <mat-icon>share</mat-icon>
    <span>Share Evaluator</span>
  </button>

  <button mat-menu-item (click)="editForm()">
    <mat-icon>create</mat-icon>
    <span>Edit form</span>
  </button>
</mat-menu>-->
