<mat-card class="presentation-card">
  <mat-card-header>
    <!-- profile picture-->
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>PRESANTATIONS</mat-card-title>
    <br>
    <mat-card-subtitle>follow instruction</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/presentation.jpg" >
  <mat-card-content>
    <p>
      you can create presantations bla bla bla ... click button below
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!--<button mat-button>LIKE</button>-->
    <button mat-button>Open</button>
  </mat-card-actions>
</mat-card>

<!--need create four project card like this-->

