.criteria {
  width: 80%;
}

.attribute {
  font-size: small;
  margin-right: 5px;
}

.attribute > mat-form-field {
  margin-right: 5px;
}

.delete {
  float: right;
  opacity: 0.2;
  transition: opacity 0.3s;
}

.delete:hover {
  opacity: 1;

}

.delete-icon {
  color: red;

}

.max-mark {
  padding-left: 10px;
  max-width: 80px;
}
