.form-main {
  margin-left: 10px;
  margin-right: 10px;
}

.form-main-sm {
  margin-left: 0;
  margin-right: 0;
}

mat-form-field {
  width: 100%;
}

.button-space {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
