.form-main {
  margin-left: 10px;
  margin-right: 10px;
  width: 1200px;
}

.form-main-sm {
  margin-left: 0;
  margin-right: 0;
}

mat-form-field {
  width: 100%;
}

.button-space {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

mat-card {
  margin-top: 20px;
  border-radius: 10px;
  max-width: 1200px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.flex-item {
  display: flex;
  justify-content: center;
}

.section-wrap {
  margin-top: 20px;
}

.maximum-form-mark {
  max-width: 150px;
  margin-right: 10px;
}

.status-header {
  margin-top: 2px;
  margin-right: 30px;
}

.okClass {
  color: green;
}

.warnClass {
  color: red;
}

.main-content {
  margin-top: 10px;
}
