<div class="wrapper">
  <div class="sidebar" data-color="orange">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">


          <h1>Results</h1>


          <mat-tab-group (selectedIndexChange)="tabChange($event)">
            <mat-tab [label]="p.name" *ngFor="let p of presentations; let index = index">
              <ng-template matTabContent>
                <div *ngFor="let data of tableObjects" style="margin-top: 8px">

                  <p>{{data.group}}</p>

                  <table mat-table [dataSource]="data.dataSource" class="mat-elevation-z8">

                    <ng-container [matColumnDef]="column" *ngFor="let column of data.colsDef">
                      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="data.colsDef"></tr>
                    <tr mat-row *matRowDef="let row; columns: data.colsDef;"></tr>
                  </table>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>


        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
