<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active1">Dashboard</a>
      <a mat-list-item routerLink="/">Add an evaluator</a>
      <a mat-list-item routerLink="/">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{navTitle}}</span>

      <span class="toolbar-space"></span>

      <span class="menu-button">
      <button  mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      </span>



    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu" >
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log out</span>
  </button>

  <button mat-menu-item (click)="logout()">
    <mat-icon>settings</mat-icon>
    <span>Preferences</span>
  </button>
</mat-menu>
