<h1 class="text-center">
    Project Management System
</h1>
<div class="card offset-md-3">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
            <form action="" method="post">
                <ul>
                    <li>
                        <input type="text" name="" id="" placeholder="Enter Username" class="form-control">
                    </li>
                    <li>
                        <input type="password" name="" id="" placeholder="Enter Password" class="form-control">
                    </li>
                    <li>
                        <input type="submit" value="Submit" class="btn btn-primary float-right">
                    </li>
                </ul>
            </form>
        </div>
      </div>