<div class="wrapper">
  <div class="sidebar" data-color="blue">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div>

            <div class="container">

              

              <div class="flex-item">

                <div class='form-container'>

                  <h4 align="center">Evaluation forms</h4>
                  <hr>

                  <mat-card class="tr-card">


                    <div>
                      <app-view-form-list (shareForm)="shareForm($event)">

                      </app-view-form-list>
                    </div>


                  </mat-card>


                </div>


              </div>

              <div class="flex-item">


                <div class='form-container'>

                  <h4 align="center">Control presentation</h4>
                  <hr>
                  <mat-card class="tr-card">
                    <mat-card-title>
                      Presentation control
                    </mat-card-title>

                    <mat-card-content>

                      <div style="height: 50px; width: 100%;margin-top: 20px;margin-left: 80px">

                        <app-loading-anim-color *ngIf="presentationState == 0">

                        </app-loading-anim-color>

                      </div>


                      <mat-expansion-panel (opened)="panelStateOpen()" (closed)="panelStateClose()"
                                           class="mat-elevation-z0">
                        <mat-expansion-panel-header>

                          <mat-panel-title>
                            {{stateTitle}}
                          </mat-panel-title>
                          <mat-panel-description *ngIf="!panelState">
                            Click to expand details
                          </mat-panel-description>

                        </mat-expansion-panel-header>

                        <p *ngIf="presentationState!=2 && presentationState!=3">Started {{time}} ago</p>


                        <mat-form-field>
                          <mat-select placeholder="Select Group" #matSelect [(value)]="selectedGroup"
                                      (selectionChange)="selectionChange($event)" [disabled]="disabledGroupSelect">
                            <mat-option *ngFor="let i of groupList" [value]="i">
                              {{"group "+i}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <button mat-icon-button class="play-button" (click)="startPresentation()"
                                [disabled]="disabledStartButton">
                          <mat-icon aria-label="Start icon">play_arrow</mat-icon>
                        </button>

                        <button mat-icon-button class="play-button" (click)="pausePresentation()"
                                [disabled]="disabledPauseButton">
                          <mat-icon aria-label="Start icon">pause_circle_filled</mat-icon>
                        </button>

                        <button mat-icon-button class="play-button" (click)="cancelPresentation()"
                                [disabled]="disabledCancelButton">
                          <mat-icon aria-label="Stop icon">stop</mat-icon>
                        </button>

                        <div style="margin-top: 10px">

                          <h5>Submission status on current group</h5>
                          <hr>

                          <mat-list>
                            <mat-list-item *ngFor="let e of submittedEvals"><span matLine>{{e.displayName}}</span>
                              <span matLine>{{e.email}}</span>
                            </mat-list-item>
                          </mat-list>


                        </div>


                      </mat-expansion-panel>

                      <mat-progress-bar mode="query" color="accent" *ngIf="presentationState==1"></mat-progress-bar>

                    </mat-card-content>

                  </mat-card>
                </div>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>

    <button mat-fab class="fab" (click)="createForm()" matTooltip="Create new form">
      <mat-icon>add</mat-icon>
    </button>


    <app-footer></app-footer>
  </div>
</div>

