<div class="wrapper">
  <div class="sidebar" data-color="orange">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div>

            <div class="container">

              

              <div class="flex-item">
                <mat-card class="tr-card">
                  <mat-card-title>
                    Create evaluation forms and assign
                  </mat-card-title>


                  <mat-expansion-panel (opened)="panelStateOpen()" (closed)="panelStateClose()">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Forms
                      </mat-panel-title>
                      <mat-panel-description>
                        View forms list
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <p>Add or click existing forms</p>
                    <button class="add-pr-buttun" mat-stroked-button mat-icon-button (click)="createForm()">
                      <mat-icon aria-label="Add presentation" class="add-icon">add</mat-icon>
                    </button>

                    <div *ngIf="panelState || onceLoaded">
                      <app-view-form-list (shareForm)="shareForm($event)" (editForm)="editForm($event)">

                      </app-view-form-list>
                    </div>

                  </mat-expansion-panel>


                </mat-card>
              </div>

              <div class="flex-item">
                <mat-card class="tr-card">
                  <mat-card-title>
                    Presentation control
                  </mat-card-title>

                  <mat-expansion-panel (opened)="panelStateOpen()" (closed)="panelStateClose()">
                    <mat-expansion-panel-header>

                      <mat-panel-title>
                        {{stateTitle}}
                      </mat-panel-title>
                      <mat-panel-description>
                        Click to expand
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <p *ngIf="presentationState!=2 && presentationState!=3">Started {{time}} ago</p>

                    <mat-form-field>
                      <mat-select placeholder="Select Group" #matSelect [(value)]="selectedGroup"
                                  (selectionChange)="selectionChange($event)" [disabled]="disabledGroupSelect">
                        <mat-option *ngFor="let i of groupList" [value]="i">
                          {{"group "+i}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <button mat-icon-button class="play-button" (click)="startPresentation()"
                            [disabled]="disabledStartButton">
                      <mat-icon aria-label="Start icon">play_arrow</mat-icon>
                    </button>

                    <button mat-icon-button class="play-button" (click)="pausePresentation()"
                            [disabled]="disabledPauseButton">
                      <mat-icon aria-label="Start icon">pause_circle_filled</mat-icon>
                    </button>

                    <button mat-icon-button class="play-button" (click)="cancelPresentation()"
                            [disabled]="disabledCancelButton">
                      <mat-icon aria-label="Stop icon">stop</mat-icon>
                    </button>


                  </mat-expansion-panel>

                </mat-card>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>


    <app-footer></app-footer>
  </div>
</div>

