.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-card {
  border-radius: 10px;
  min-width: 100px;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  min-height: 50px;
}

mat-expansion-panel {
  border-radius: 10px;
  min-height: 70px;
}

.flex-item {
  display: flex;
  justify-content: center;
}

.add-pr-buttun {
  color: green;
}

.play-button {
  display: block;
  margin: 10px;
}

.main-panel .main-content {
  margin-top: 0;
}

.svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .svg {
    display: none;
  }

  mat-card {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.fab {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 999;
  transition: 200ms;

}

@media only screen and (max-width: 600px) {
  .fab {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999;
    transition: 200ms;

  }

  .clock {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    color: #007aef;
  }

  .clock-wrap {
    height: 40px;
    width: 100%;
    margin-top: 5px;
  }

}

.fab:hover {
  transform: rotate(50deg);
  width: 70px;
  height: 70px;

}

.fab > mat-icon {
  width: 50px;
  height: 50px
}

.form-container {
  width: 100%;
}

.clock {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #007aef;
}

.clock-wrap {
  height: 60px;
  width: 100%;
  margin-top: 5px;
}
