.example-card {
  margin: 10px 10px 10px 10px;
  max-width: 170px;
  min-height: 170px;
  width: 100%;
  border-radius: 10px;
}

.card-title {
  font-size: medium;
  font-weight: bold;
  font-style: normal;
}
