
<div class="wrapper">
  <div class="sidebar" data-color="orange">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">

          <div>

              <mat-grid-list [cols]="cols" rowHeight=300>
                <mat-grid-tile *ngFor="let card of list" [@flyInOut]="state" class="card-tile">
                  <app-dashboard-card-holder (remove)="removeProject($event)" (openProject)="openProject($event)"
                                             class="project-card"
                                             [projectCard]="card"></app-dashboard-card-holder>
                </mat-grid-tile>
                <mat-grid-tile>
                  <app-add-project class="project-card" (addProject)="onAddNewProjectClick()"></app-add-project>
                </mat-grid-tile>

              </mat-grid-list>
            </div>

        </div>

        <div class="container-c" *ngIf="loadAnim">
          <div class="cloud front">
            <span class="left-front"></span>
            <span class="right-front"></span>
          </div>
          <span class="sun sunshine"></span>
          <span class="sun"></span>
          <div class="cloud back">
            <span class="left-back"></span>
            <span class="right-back"></span>
          </div>

        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
