<!--<div class="wrapper">
  <app-add-project #addNew (addProject)="onAddNewProjectClick()" ></app-add-project>

  <ng-template #container>
  </ng-template>

</div>-->

<mat-grid-list [cols]="cols" rowHeight=250>
  <mat-grid-tile *ngFor="let card of projectList" [@flyInOut]="state">
    <app-dashboard-card-holder (remove)="removeProject($event)" class="project-card"
                               [projectCard]="card"></app-dashboard-card-holder>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-add-project class="project-card" (addProject)="onAddNewProjectClick()"></app-add-project>
  </mat-grid-tile>

</mat-grid-list>
