.main-panel .main-content {
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.project-card {
  height: 350px;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mat-grid-tile {
  min-width: 300px;
  min-height: 350px;
}

mat-grid-list {
  margin-top: 5px;
  z-index: 1;
}

.card-tile {
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 50px;
}

.container-c {
  width: 100%;
  height: 100%;
  margin: 100px auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.fab {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 999;
  transition: 200ms;

}

@media only screen and (max-width: 600px) {
  .fab {
    position: fixed;
    right: 10px;
    bottom: 50px;
    z-index: 999;
    transition: 200ms;

  }
}

.fab:hover {
  transform: rotate(50deg);
  width: 70px;
  height: 70px;
}

.fab > mat-icon {
  width: 50px;
  height: 50px
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}

.overview-card {
  width: 300px;
  height: 250px;
  margin-bottom: 25px;
}


.btn {
  box-sizing: border-box;
  -webkit-box-shadow: 5px 11px 70px -12px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 11px 70px -12px rgba(0, 0, 0, 0.59);
  box-shadow: 5px 11px 70px -12px rgba(0, 0, 0, 0.59);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  text-align: center !important;
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  margin: 5px;
  padding: 1em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.second {
  border-radius: 3em;
  color: #fff;
  background: #007fff;
  background-size: 100%;
  transition: 300ms ease-in-out;
}

.second:hover {
  background: #4ea5ef;
  -webkit-box-shadow: 7px 3px 63px 2px rgb(134, 164, 247);
  -moz-box-shadow: 7px 3px 63px 2px rgba(160, 139, 247, 1);
  box-shadow: 7px 3px 63px 2px rgb(136, 175, 247);
}

.running-text {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: #01b3ce;
}

.not-running-text {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: #797d7f;
}

h2 {
  text-align: center;
}
