.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}




.project-card {
  height: 300px;
  width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mat-grid-tile {
  min-width: 300px;
}

mat-grid-list {
  margin-top: 5px;
}

.card-tile {
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 50px;
}

