.project-card {
  margin: 10px 10px 10px 40px;
  max-width: 170px;
  min-height: 170px;
  background-color: aliceblue;
}

.project-card-header-title {
  font-size: medium;
}
mat-card-content {
  align-content: center;
}
