.project-card {
  margin: 10px 10px 10px 10px;
  max-width: 170px;
  min-height: 170px;
  background-color: aliceblue;
  width: 100%;
}

.project-card-header-title {
  font-size: medium;
}

mat-card-content {
  align-content: center;
  max-height: 50px;
  min-height: 50px;
  overflow-wrap: break-word;

}
