.project-card {
  margin: 10px 10px 10px 10px;

  width: 215px;
  height: 215px;
  background-color: #ffffff;
  border-radius: 10px;

}

.project-card-header-title {
  font-size: medium;
}

mat-card-content {
  align-content: center;
  max-height: 50px;
  min-height: 50px;
  overflow-wrap: break-word;

}
