<mat-card class="project-card tr-card">
  <mat-card-header>
    <p class="project-card-header-title">{{cardTitle}}</p>
  </mat-card-header>
  <mat-card-subtitle> You</mat-card-subtitle>
  <mat-card-subtitle>
    <hr>
  </mat-card-subtitle>
  <mat-card-content>
      {{description}}

  </mat-card-content>

  <mat-card-actions>
    <a class="btn second" (click)="openProject()">Open</a>
    <a class="btn second" matTooltip="Delete all data on this project" mat-button (click)="removeProject()">remove</a>
  </mat-card-actions>

</mat-card>
