<div class="card">
  <div class="slides">
    <div slide-id="1" slide-color="#D18B49" class="slide active">
      <div class="thumbnail"><img
        src="https://www.jqueryscript.net/demo/Nice-Material-Inspried-Card-Slider-with-jQuery-CSS3/Stag.svg"/></div>
      <h1 class="title">The Magnificent Stag</h1>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    </div>
    <div slide-id="2" slide-color="#542F13" class="slide">
      <div class="thumbnail"><img
        src="https://www.jqueryscript.net/demo/Nice-Material-Inspried-Card-Slider-with-jQuery-CSS3/Bear.svg"/></div>
      <h1 class="title">The Courageous Bear</h1>
      <p class="description">Nam tristique porttitor erat sed convallis. Donec id iaculis massa, id pulvinar odio. </p>
    </div>
    <div slide-id="3" slide-color="#A5AAAE" class="slide">
      <div class="thumbnail"><img
        src="https://www.jqueryscript.net/demo/Nice-Material-Inspried-Card-Slider-with-jQuery-CSS3/Mouse.svg"/></div>
      <h1 class="title">The Sneaky Mouse</h1>
      <p class="description">Ut condimentum facilisis turpis in tincidunt.</p>
    </div>
    <div slide-id="4" slide-color="#ED8D1F" class="slide">
      <div class="thumbnail"><img
        src="https://www.jqueryscript.net/demo/Nice-Material-Inspried-Card-Slider-with-jQuery-CSS3/Fox.svg"/></div>
      <h1 class="title">The Cunning Fox</h1>
      <p class="description"> Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Proin vulputate massa ut iaculis eleifend. </p>
    </div>
    <div slide-id="5" slide-color="#C4C8CB" class="slide">
      <div class="thumbnail"><img
        src="https://www.jqueryscript.net/demo/Nice-Material-Inspried-Card-Slider-with-jQuery-CSS3/Rabbit.svg"/></div>
      <h1 class="title">The Jumpy Rabbit</h1>
      <p class="description">Phasellus accumsan nisi ac ex ultrices dignissim. </p>
    </div>
  </div>
  <div class="footer"><a id="prev" href="#" ripple="" ripple-color="#666666" class="btn">Prev</a><a id="next" href="#"
                                                                                                    ripple=""
                                                                                                    ripple-color="#666666"
                                                                                                    class="btn">Next</a>
  </div>
</div>
